.page-title {

  color: #444953;
  margin: 10px 0 0 10px;

}

.page-description {

  color: #80858F;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  line-height: 1rem;
  margin: 10px 0 0 10px;

}
