<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>


<div *ngIf="!isLoading" class="candidates-details-container">

    <section class="candidates-details-content-top">

        <div>
            <img [src]="candidateForm.profileImage" alt="Imagem de perfil">
            <h1>{{ candidateForm.name }}</h1>
        </div>


        <app-form
            formType="update"
            [id]="id"
            (validForm)="getCandidateMedia($event)"
        >
        </app-form>

    </section>

    <section class="galery">

      <div  *ngFor="let media of medias">

        <!-- images -->
        <img *ngIf="media.filesExtension !== '.mp4'" [src]="'https://' + media.fileUrl" alt="Image">

        <!-- videos -->
        <div *ngIf="media.filesExtension === '.mp4'" class="videos">

            <video controls #videoPlayer>
                <source [src]="'https://' + media.fileUrl" type="video/mp4" />
                Browser not supported
            </video>

        </div>

        </div>

    </section>

</div>


